.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: cover;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  cursor: pointer;
}
.product:hover {
  box-shadow: 4px 8px 8px -8px rgb(161, 160, 160);
  transform: scale(1.01);
  transition: all 0.01s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #f0c14b;
  border: 0.3px solid;
  cursor: pointer;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.product > button:hover {
  transform: scale(1.23);
  border-color: #9c7e31 #846a29 #a88734;
  color: rgb(18, 18, 19);
  border-radius: 2px;
  transition: tranform 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin: 15px 0px;
}
